*.asm
*.bak
*.bin
*.exe
*.ihx
*.lk
*.lst
*.map
*.mif
*.noi
*.pck
*.qws
*.rel
*.sdo
*.sft
*.stp
*.sym
*.vho
*.wlf
*.xrf
/boards/s3starter/kc87
/db
/incremental_db
/roms/*.vhdl
/rtl/periph/sysclock.qip
/sim/work
/sw/*.html
/sw/*.vhdl
/sw/*.zx7
greybox_tmp
msim_transcript
output_files
rtl_work